*{
    margin:0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.f_logo{
    height: 60px;
    width: 120px;
}
.logo{
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.search_part{
    display: flex;
}
.magni{
    font-size: 22px;
    
    margin-left: 15px;
    margin-right: 2px;
    margin-top: 5px;
    text-align: center;
}
.bar{
    width: 550px;
    height: 30px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid antiquewhite;
}
.zx{
    margin-left: 6px;
    font-size: 16px;
}

.login{
    display: flex;
}

.cart{
    display: flex;
}

.seller{
    display: flex;
}
/*2nd part*/
body{
    background-color: rgb(213, 211, 211);
}
.hero_box{
    height: 126px;
    width: 98%;
    background-color: white;
    margin-left: 1%;
    margin-top: 1%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box{
    height: 126px;
    width: 116px;
    
}

.img1{
    background-image: url("img1.webp");
    background-size: cover;
    height: 80px;
}
.a{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.img2{
    background-image: url("img2.webp");
    background-size: cover;
    height: 80px;
}
.b{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.img3{
    background-image: url("img3.webp");
    background-size: contain;
    height: 80px;
    background-repeat: no-repeat;
}
.c{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.img4{
    background-image: url("img4.webp");
    background-size: cover;
    height: 80px;
}
.d{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.img5{
    background-image: url("img6.jpg");
    background-size: cover;
    height: 80px;
    margin-top: 5px;
}
.e{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}
.img6{
    background-image: url("x1.jpg");
    background-size: cover;
    height: 80px;
    margin-top: 5px;
}
.f{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}
/*3rd paart*/

.hero{
    height: 232px;
    width: 98%;
    background-color: white;
    margin-left: 1%;
    margin-top: 1%;

    background-color: aquamarine;

    background-image: url("hero_img.webp");
    background-size: cover;
    
}
/*3rd part*/

.images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.deals_panel{
    height: 350px;
    width: 98%;
    background-color: white;
    margin-left: 1%;
    margin-top: 1%;

    
}

.bes{
    position: relative;
    top: 10px;
    margin-left: 13px;
    margin-top: 20px;
}
.m_box{
    width: 220px;
    height: 262px;
    border: 1px solid black;
    position: relative;
    top: 40px;
    padding: 2px;
}

.imag1{
    background-image: url("imag1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 13px;
    padding: 10px 10px 10px 10px;
    height: 200px;
}
.text1{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.imag2{
    background-image: url("imgx1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 23px;
    padding: 10px 10px 10px 10px;
    height: 200px;
}
.text2{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.imag3{
    background-image: url("imgx2.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 16px;
    padding: 10px 10px 10px 10px;
    height: 200px;
}
.text3{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.imag4{
    background-image: url("imgx3.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 18px;
    padding: 10px 10px 10px 10px;
    height: 200px;
}
.text4{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.imag5{
    background-image: url("imgx4.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 23px;
    padding: 10px 10px 10px 10px;
    height: 200px;
}
.text5{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}

.imag6{
    background-image: url("imgx5.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 50px;
    padding: 10px 10px 10px 10px;
    height: 200px;
}
.text6{
    margin-top: 5px;
    font-weight:500;
    text-align: center;
}
.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}